{% block content %}
</div><!--/.containter-->
<div class="container-fluid">
	<div class="row">
		<div class="hero">
			<div class="hero__image">
				<img src="holder.js/100px600?text=Impressive Image">
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-11 col-md-offset-1">
			<h2>Let's Talk</h2>
		</div>
	</div>	

	<div class="row">
		<div class="col-md-11 col-md-offset-1">
		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
		    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
		    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
		  </ul>

			  <!-- Tab panes -->
			<div class="tab-content">
			    <div role="tabpanel" class="tab-pane active" id="home">
			    	<div class="row">
						<div class="hero__cta col-md-6">
							<span class="lead">
								<br>
								<h4>Cape Town Office</h4>
								<p>+27 (0)82 790 4425</p>
								<p>hello@grandroomdesign.co.za</p>
								<p>Dawn Mountains Farm,<br>Klapmuts-Simondium Rd, R45,<br>Simondium</p>
							</span>
							<hr>
							<a class="btn btn-default">Meet our Team</a>
						</div>
					
						<div class="sidebar col-md-4">
						<br>
						<br>
							<form>
								<div class="form-group">
									<label for="exampleInputName2">Name</label>
									<input type="text" class="form-control" id="exampleInputName2" placeholder="">
								</div>
								<div class="form-group">
								    <label for="exampleInputEmail2">Email</label>
									<input type="email" class="form-control" id="exampleInputEmail2" placeholder="">
								</div>
								<div class="form-group">
								    <label>Phone</label>
									<input type="text" class="form-control" placeholder="">
								</div>
								<div class="form-group">
								    <label>Event Date</label>
									<input type="text" class="form-control" placeholder="DD/MM/YYYY">
								</div>
								<div class="form-group">
								    <label>Event Location</label>
									<input type="text" class="form-control" placeholder="">
								</div>
								<div class="form-group">
									<label for="select">Subject</label>
									<select class="form-control">
										<option>Wedding Enquiry</option>
										<option>Function Enquiry</option>
										<option>Client Service</option>
										<option>Other</option>
									</select>	
								</div>
								<div class="form-group">
									<label for="textarea">Message</label>
									<textarea class="form-control" rows="5"></textarea>
								</div>
								  <button type="submit" class="btn btn-default">Send Message</button>
							</form>
						</div>
					</div>
		    	</div>
		    
		    <div role="tabpanel" class="tab-pane" id="profile">
		    	<div class="row">
					<div class="hero__cta col-md-6">
						<span class="lead">
							<br>
							<h4>Bloemfontein Office</h4>
							<p>+27 (0)51 430 2910</p>
							<p>hello@grandroomdesign.co.za</p>
							<p>12 Oranje St, Hilton,<br>Bloemfontein</p>
						</span>
						<hr>
						<a class="btn btn-default">Meet our Team</a>
					</div>
				
					<div class="sidebar col-md-4">
						<br>
						<br>
						<form>
							<div class="form-group">
								<label for="exampleInputName2">Name</label>
								<input type="text" class="form-control" id="exampleInputName2" placeholder="">
							</div>
							<div class="form-group">
							    <label for="exampleInputEmail2">Email</label>
								<input type="email" class="form-control" id="exampleInputEmail2" placeholder="">
							</div>
							<div class="form-group">
							    <label>Phone</label>
								<input type="text" class="form-control" placeholder="">
							</div>
							<div class="form-group">
							    <label>Wedding Date</label>
								<input type="text" class="form-control" placeholder="">
							</div>
							<div class="form-group">
							    <label>Wedding Location</label>
								<input type="text" class="form-control" placeholder="">
							</div>
							<div class="form-group">
								<label for="select">Subject</label>
								<select class="form-control">
									<option>Wedding Enquiry</option>
									<option>Function Enquiry</option>
									<option>Client Service</option>
									<option>Other</option>
								</select>	
							</div>
							<div class="form-group">
								<label for="textarea">Message</label>
								<textarea class="form-control" rows="5"></textarea>
							</div>
							  <button type="submit" class="btn btn-default">Send Message</button>
						</form>
					</div>
				</div>
  			</div>
		</div>
	</div>
</div>



{% endblock %}