{% block content %}
</div><!--/.containter-->
<div class="container-fluid">
	<div class="row">
		<div class="hero">
			<div class="hero__image">
				<img src="holder.js/100px600?text=Impressive Function Image">
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-11 col-md-offset-1">
						<h2>How we do Functions</h2>
					</div>
					<div class="hero__cta col-md-6 col-md-offset-1">
						<p class="cta--text lead">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor.</p>
						<p>Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
					</div>

					<div class="sidebar col-md-4">
						{% include "features" %}
					</div>
				</div>
			 </div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h3 class="text-center">Our Featured Work</h3>
			<hr>
				<div class="row">
				  <div class="col-md-6">
				    <div class="thumbnail">
				      <img src="holder.js/500x250?text=Teaser Image">
				      <div class="caption">
				        <h3>Absa's Casino Year-End</h3>
				        <p>Curabitur blandit tempus porttitor. Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
				      </div>
				    </div>
				  </div>
				  <div class="col-md-6">
				    <div class="thumbnail">
				      <img src="holder.js/500x250?text=Teaser Image">
				      <div class="caption">
				        <h3>Discovery's Mexican Year-End</h3>
				        <p>Curabitur blandit tempus porttitor. Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>				     
				      </div>
				    </div>
				  </div>
				</div>
		</div>
	</div>
{% endblock %}