{% block content %}
</div><!--/.containter-->
<div class="container-fluid">
	<div class="row">
		<div class="hero">
			<div class="hero__image">
				<img src="holder.js/100px600?text=Impressive Image">
			</div>
			<div class="hero__cta col-md-6 col-md-offset-3">
				<h2>Weddings</h2>
				<p class="cta--text lead">Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus agittis.</p>
				<a href="/weddings" class="btn btn-link">View more <i class="fa fa-long-arrow-right"></i></a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="hero">
			<div class="hero__image">
				<img src="holder.js/100px600?text=Impressive Image">
			</div>
			<div class="hero__cta col-md-6 col-md-offset-3">
				<h2>Corporate Functions</h2>
				<p class="cta--text lead">Etiam porta sem malesuada magna mollis euismod. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. </p>
				<a href="/corporate" class="btn btn-link">View more <i class="fa fa-long-arrow-right"></i></a>
			</div>
		</div>
	</div>
</div><!--/.fluid-->

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h1>Welcome to<br>Grand Room Designs</h1>
			<hr>
			<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
			<p>Aenean lacinia bibendum nulla sed consectetur. Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis ornare vel eu leo. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>

			<a href="/about" class="btn btn-link">More about us <i class="fa fa-long-arrow-right"></i></a><br>
			<a href="/about" class="btn btn-link">Contact us <i class="fa fa-long-arrow-right"></i></a>
		</div>
		<div class="col-md-6">
			<div class="testimonials text-center">

				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

				  <!-- Wrapper for slides -->
				  <div class="carousel-inner" role="listbox">
				  	{% for slide in model.slides %}
					    <div class="item {{ slide.class }}">
					        <img class="img-circle" src="holder.js/120x120?text=Profile">
					        <h3>{{ slide.name }} <br><small>{{ slide.role }} </small></h3>
					        <blockquote>
					          <p>"{{ slide.content }}"</p>
					        </blockquote>
					    </div>
				    {% endfor %}
				  </div>

				  <!-- Controls -->
				  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
				    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				    <span class="sr-only">Previous</span>
				  </a>
				  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
				    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				  </a>
				</div>

			</div>
		</div>
	</div>
{% endblock %}