<ul class="list-group">
	<li class="list-group-item lead"><i class="fa fa-bell-o fa-fw"></i> Aenean lacinia bibendum</li>
	<li class="list-group-item lead"><i class="fa fa-anchor fa-fw"></i> Elit Ornare Ullamcorper</li>
	<li class="list-group-item lead"><i class="fa fa-diamond fa-fw"></i> Vehicula Sollicitudin Tellus</li>
</ul>

<button class="btn btn-primary btn-block btn-lg" data-toggle="modal" data-target="#myModal">Enquire now</button>