<div class="navbar-header navbar navbar-default navbar-fixed-top">
    <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Grand Room Design</a>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li {% if mixture.url == "index" %}class="active"{% endif %}><a href="/">Home</a></li>
                <li {% if mixture.url == "about" %}class="active"{% endif %}><a href="/about">About</a></li>
                <li {% if mixture.url == "weddings" %}class="active"{% endif %}><a href="/weddings">Weddings</a></li>
                <li {% if mixture.url == "corporate" %}class="active"{% endif %}><a href="/corporate">Corporate Functions</a></li>
                <li {% if mixture.url == "contact" %}class="active"{% endif %}><a href="/contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="fa fa-facebook" href="#facebook"></a></li>
                <li><a class="fa fa-twitter" href="#twitter"></a></li>
                <li><a class="fa fa-pinterest" href="#pinterest"></a></li>
                <li><a class="fa fa-instagram" href="#instagram"></a></li>
            </ul>
        </div>
    </div>
</div>